.ngReactGrid {
    padding: 5px;
    font-size: 9pt;
}

.ngReactGrid table {
    position: relative;
    table-layout: fixed;
    margin: 0;
    padding: 0;
    color: #555555;
    display: table;
    border-spacing: 0;
    width: 100%;
}
.ngReactGridBody {
    border-left: 1px solid #ddd;
    border-right: 1px solid #ddd;
}
.ngReactGrid .ngReactGridViewPort {
    overflow-y: scroll;
    overflow-x: scroll;
}

.ngReactGrid .ngReactGridHeader {
    overflow-x: hidden;
    position: relative;
    overflow-y: hidden;
    /* height: 27px; */
    border-left: 1px solid #ddd;
    border-right: 1px solid #ddd;
}

.ngReactGrid .ngGridHeaderCellText {
    display:inline-block;
    width: 90%;
    float: left;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.ngReactGrid .ngGridHeaderCellResize {
    width: 5%;
    float: left;
    text-align: right;
}

.ngReactGrid .ngReactGridHeaderToolbarWrapper {
    overflow: auto;
}

.ngReactGrid .ngReactGridShowPerPage {
    width: 33%;
    display: inline-block;
    text-align: center;
    vertical-align: middle;
}

.ngReactGrid .ngReactGridShowPerPage select {
    background: none;
    border: none;
}

.ngReactGrid .ngReactGridSearch {
    float: left;
    width: 50%;
    text-align: right;
}

.ngReactGrid .ngReactGridSearch input {
    width: 50%;
    border-radius: 15px;
    padding: 5px;
    padding-left: 9px;
    outline: none;
    height: 15px;
}

.ngReactGrid .ngReactGridHeaderWrapper {
    margin-top: 5px;
}

.ngReactGrid .ngReactGridHeaderInner {
    overflow-x: hidden;
    overflow-y: hidden;
}

.ngReactGrid .ngReactGridHeaderInner table {
    line-height: 15px;
}

.ngReactGrid .ngReactGridHeaderInner table thead {
    font-style: normal;
}

.ngReactGrid .ngReactGridBody table {
    border-top: none;
    border-bottom: none;
}

.ngReactGrid table tr {
    border-collapse: collapse;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
}

.ngReactGrid table td, .ngReactGrid table th {
    vertical-align: top;
}

.ngReactGrid table th {
    cursor: auto;
    text-align: left;
    display: table-cell;
}

.ngReactGrid table th div {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.ngReactGrid table td {
    padding: 0px;
    vertical-align: middle;
    text-align: left;
    padding: 5px;
    display: table-cell;
    word-wrap: break-word;
}

.ngReactGrid table tr:first-child td {
    border-top: 0px;
}

.ngReactGrid table tr:last-child td {
    border-bottom: 0px;
}

.ngReactGrid table tr td:first-child,
.ngReactGrid table tr th:first-child {
    border-left: 0px;
}
.ngReactGrid table tr td:last-child,
.ngReactGrid table tr th:last-child {
    border-right: 0px;
}

.ngReactGrid .ngReactGridFooter {
    padding: 5px;
    font-size: 11px;
    overflow: auto;
    border: 1px solid #ddd;
}

.icon-arrows {
    display: inline-block;
    margin-top: 1px;
    line-height: 14px;
    vertical-align: text-top;
    background-image: url('../img/arrow_icons.png');
    background-repeat: no-repeat;
    width: 9px;
    height: 10px;
}

.icon-both {
    background-position: -128px 2px;
}

.icon-asc {
    background-position: 0 0;
}

.icon-desc {
    background-position: -65px 0;
}

.ngReactGrid .ngReactGridStatus {
    width: 33%;
    padding-top: 4px;
    display: inline-block;
    vertical-align: middle;
    padding-left: 5px;
}

.ngReactGrid .ngReactGridPagination {
    width: 34%;
    display: inline-block;
    vertical-align: middle;
    /* float: right; */
}

.ngReactGridPagination ul {
    display: inline-block;
    padding-left: 0;
    margin: 0;
    border-radius: 4px;
    float: right;
}

.ngReactGridPagination ul li {
    display: inline;
}

.ngReactGridPagination ul li a {
    position: relative;
    float: left;
    padding: 3px 6px;
    line-height: 1.42857143;
    text-decoration: none;
    margin-left: -1px;
    font-size:11px;
}

.ngReactTextField {
    margin:0;
    width: calc(90% - 4px);
    outline: none;
    padding: 4px;
}

.ngReactGridSelectField {
    width: calc(100% - 4px);
}